<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970848806829-7l0ud8ukf5mbd9723j43l83icr5c3k5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970848806829-7l0ud8ukf5mbd9723j43l83icr5c3k5t</string>
	<key>API_KEY</key>
	<string>AIzaSyAyo1XGBJUjPwA-gHw49ixUh2wr5_35LnM</string>
	<key>GCM_SENDER_ID</key>
	<string>970848806829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goonline.app</string>
	<key>PROJECT_ID</key>
	<string>goexpert-a23b1</string>
	<key>STORAGE_BUCKET</key>
	<string>goexpert-a23b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970848806829:ios:c50eacb6c28dcc2b586324</string>
</dict>
</plist>